// * Summary: Lanyon customizations.
// If it overrides the original configurations, then comment the original.

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
  margin-top: 1.5em;
}

