        <span id="typed"></span>
      </div>
    </div>

    <!-- <script type="text/javascript"> -->
    <!--   document.addEventListener('DOMContentLoaded', function() { -->
    <!--     var typed = new Typed('#typed', { -->
    <!--     stringsElement: '.font-normal', -->
    <!--     typeSpeed: 85, -->
    <!--     fadeOut: true, -->
    <!--     // backSpeed: 500, -->
    <!--     startDelay: 15000, -->
    <!--     loop: false, -->
    <!--     loopCount: Infinity, -->
    <!--     }) -->
    <!--   }) -->
    <!-- </script> -->
  </body>
</html>
